.courses {
    width: 425px;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: hidden;
    padding-top: 48px;
    /* background-color: #1c1c1c; */
    border-right: 1px solid var(--border-clr);
}

.courses h1 {
    font-size: 30px;
    font-weight: 450;
}

.courses .heading {
    padding-left: 32px;
    padding-right: 32px;
}

.courses .heading button {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 2px;
    height: 22px;
    width: 22px;
    background-color: var(--cool-gray-80);
    border-radius: 6px;
    transition: 0.1s ease-out;
}

.courses .heading button:hover {
    padding: 3px;
    cursor: pointer;
    background-color: var(--cool-gray-70);
    transition: 0.1s ease-in;
} 

.courses .heading button svg {
    height: 22px;
    width: 22px;
}


.courses .searchbar {
    margin: 0 32px;
    margin-top: 18px;
    margin-bottom: 32px;
}

.courses hr {
    margin: 24px 0;
    border: 1px solid var(--border-clr);
    border-bottom: none;
}

.course-list {
    padding: 0 16px;
    margin-top: -16px;
    max-height: calc(100vh - 171.5px); /* ~ 88.5px */
    overflow-y: auto;
    padding-bottom: 16px;
}

.courses-msg {
    text-align: center;
    font-size: 14px;
    margin-top: 32px;
    color: var(--cool-gray-40);
}