.summary .week {
    min-width: calc(100vw - 425px - var(--shell-width));
    max-width: calc(100vw - 425px - var(--shell-width));
    display: inline-flex;
    justify-content: space-evenly;
}

.summary #upcoming-dates { 
    padding: 4px 0;
    display: inline-flex;
    justify-content: space-evenly;
    min-width: calc(100vw - 425px - var(--shell-width));
    max-width: calc(100vw - 425px - var(--shell-width));
    overflow-x: auto;
    background-color: #27292c;
    border-top: 1px solid var(--border-clr);
    border-bottom: 1px solid var(--border-clr);
}

.summary .upcoming-date {
    display: inline-flex;
    padding: 0 12px;
}

.summary .date {
    text-align: center;
}


.summary .date .weekday {
    /* display: none; */
    font-weight: 425;
    font-size: 11px;
    color: var(--gray-40);
}

.summary .date .day {
    font-size: 16px;
    font-weight: 400;
    color: var(--gray-20);
    border-radius: 6px;
    width: 24px;
    transition: 0.1s ease;
}

.summary .date .day:hover {
    cursor: pointer;
    background-color: var(--cool-gray-60);
    transition: 0.1s ease;
}

.summary .today .day {
    background-color: var(--accent);
    margin-top: 2px;
    font-size: 14px;
    font-weight: 600;
}
